#!/bin/bash

# exit on error
set -e

# build lambdas
cd lambda && yarn install && yarn build && cd ..

# package frontend source excluding all compiled JS/TS files, build artifacts, and other temporary files
zip -r frontend.zip frontend/ -x \
  "frontend/node_modules/*" \
  "frontend/.next/*" \
  "frontend/out/*" \
  "frontend/.env*" \
  "frontend/next-env.d.ts" \
  "frontend/src/**/*.d.ts" \
  "frontend/src/**/*.js" \
  "frontend/**/*.js.map" \
  "frontend/.vscode/*" \
  "frontend/.DS_Store"

# deploy CDK stack
JSII_SILENCE_WARNING_UNTESTED_NODE_VERSION=1 UNIQUE_ID="dev-test" yarn cdk deploy

# cleanup
cd lambda && rm -rf dist && cd ..
rm frontend.zip